@media screen and (max-width:420px){
  .set{
    padding-top: 10vh;
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.65);
    z-index: 999;
    /**/
    display: flex;
    justify-content: center;
    animation: settings .4s ease-in-out;
    transition: .4s ease-in-out;
  }
  
  
  .set-container{
    width: 70vw;
    height: 65vh;
    border-radius: 3vh;
    box-shadow: 1px black;
    /**/
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  
  .set-container-header{
    height: 6%;
    display: flex;
    align-items: center;
    margin-top: 2vh;
    margin-bottom: 1vh;
    height: 9vh;
    color: #ffffff;
    background-color: black;
    flex-direction: column;
    justify-content: center;
    transform: rotate(3deg);
  }
  .set-container-header>h4{
    transform: rotate(-3deg);
  }
  .set-container-header>div{
    transform: rotate(-3deg);
  }
  .set-container-body{
    height: 80%;
    display: flex;
    justify-content: center;
  }
  
  .set-container-footer{
    height: 10%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding-top: 1vh;
  }
  
  .footer-button{
    height: 4.3vh;
    width: 22vw;
    border: none;
    background-color: #38ff59;
    box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.3);
    margin-right: 6vw;
    font-weight: 700;
    font-size: 1em;
    transform: rotate(3deg);
    color: black;
  }
  .footer-button>p{
    transform: rotate(-3deg);
  }
  
  .types-title{
    display: flex;
    justify-content: center;
    margin-bottom: 1vh;
  }
  
  .types{
    display: flex;
    justify-content: center;
    padding-bottom: 1vh;
    flex-wrap: wrap;
    gap: 2vw;
  }
  
  .types > div {
    justify-content: center;
    display: flex;
    width: 26vw;
    height: 4.3vh;
    color: #ffffff;
    font-weight: 500;
    transform: rotate(-3deg);
    background-color: rgb(220, 20, 160);
    box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.2);
  }
}

.grass{
  background-color: #1a803c;
}

.fire{
  background-color: #e22e28;
}

.water{
  background-color: #3879b3;
}

.bug{
  background-color: #5d6610;
}

.normal{
  background-color: rgb(133, 133, 69);
}

.poison{
  background-color: #8b045e;
}

.electric{
  background-color: #d8b104;
}

.ground{
  background-color: #644b06;
}

.fairy{
  background-color: rgb(39, 37, 37);
}

.fighting{
  background-color: #92071a;
}

.psychic{
  background-color: #0e4353;
}

.rock{
  background-color: #333333;
}

.ghost{
  background-color: rgb(141, 93, 31);
}
@media screen and (max-width:2560px){
  .set{
    padding-top: 10vh;
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.65);
    z-index: 999;
    /**/
    display: flex;
    justify-content: center;
    animation: settings .4s ease-in-out;
    transition: .4s ease-in-out;
  }
  
  
  .set-container{
    width: 70vw;
    height: 65vh;
    border-radius: 3vh;
    box-shadow: 1px black;
    /**/
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  
  .set-container-header{
    height: 6%;
    display: flex;
    align-items: center;
    margin-top: 2vh;
    margin-bottom: 1vh;
    height: 9vh;
    color: #ffffff;
    background-color: black;
    flex-direction: column;
    justify-content: center;
    transform: rotate(3deg);
  }
  .set-container-header>h4{
    transform: rotate(-3deg);
  }
  .set-container-header>div{
    transform: rotate(-3deg);
  }
  .set-container-body{
    height: 80%;
    display: flex;
    justify-content: center;
  }
  
  .set-container-footer{
    height: 10%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding-top: 1vh;
  }
  
  .footer-button{
    height: 4.3vh;
    width: 22vw;
    border: none;
    background-color: #38ff59;
    box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.3);
    margin-right: 6vw;
    font-weight: 700;
    font-size: 1em;
    transform: rotate(3deg);
    color: black;
  }
  .footer-button>p{
    transform: rotate(-3deg);
  }
  .footer-button:hover{
    cursor: pointer;
    transform: rotate(-3deg);
  }
  
  .types-title{
    display: flex;
    justify-content: center;
    margin-bottom: 1vh;
  }
  
  .types{
    display: flex;
    justify-content: center;
    padding-bottom: 1vh;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .types > div {
    justify-content: center;
    display: flex;
    width: 26vw;
    height: 4.3vh;
    color: #ffffff;
    font-weight: 500;
    transform: rotate(-3deg);
    background-color: rgb(220, 20, 160);
    box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.2);
  }
  .types>div:hover{
    cursor: pointer;
    transform: rotate(3deg);
  }
}

.grass{
  background-color: #1a803c;
}

.fire{
  background-color: #e22e28;
}

.water{
  background-color: #3879b3;
}

.bug{
  background-color: #5d6610;
}

.normal{
  background-color: rgb(133, 133, 69);
}

.poison{
  background-color: #8b045e;
}

.electric{
  background-color: #d8b104;
}

.ground{
  background-color: #644b06;
}

.fairy{
  background-color: rgb(39, 37, 37);
}

.fighting{
  background-color: #92071a;
}

.psychic{
  background-color: #0e4353;
}

.rock{
  background-color: #333333;
}

.ghost{
  background-color: rgb(141, 93, 31);
}