@media screen and (max-width:2560px){
  .infoScreen{
    height: 90vh;
    background-color: rgb(105, 109, 109);
  }
  .is-header{
    height: 10vh;
    font-size: 2em;
    display: flex;
    padding-left: 6vw;
    padding-bottom: 1vh;
    align-items: flex-end;
    background-color: rgb(255, 255, 255);
  }
}
@media screen and (max-width:420px) {
  .infoScreen{
    height: 125vh;
    overflow-y: hidden;
  }
}