.loading{
  position: absolute;
  z-index: 7;
  height: 40vh;
  width: 40vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  transition: 1.3s ease-in-out;
}
.loading > img {
  width: 20vw;
  animation: spin 4s infinite linear;
}
@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100%{
    transform: rotate(1080deg);
  }
}
.false{
  transition: 900ms ease-in-out;
  display: none;
}

/*===*/
@media screen and (max-width: 2560px){
  .ps{
    display: flex;
    flex-direction: column;
  }
  .ps-header{
    height: 10vh;
    display: flex;
    align-items: center;
    padding-left: 7vw;
  }
  .h1-types{
    margin-top: 2vh;
    width: 80vw;
    font-size: 1.2em;
    font-weight: 600;
  }
  h1{
    width: 80%;
  }
  .set-btn{
    font-size: 1.5em;
  }
  /*MAIN*/
  .main{
    width: 95vw;
    height: 80vh;
    display: grid
  }
  .card-zone{
    overflow: hidden;
    height: 60vh;
    display: flex;
    padding-right: 10vh;
    width: 90vw;
    padding-bottom: 3vh;
    margin-top: 4vh;
  }
  .pages{
    height: 10vh;
    z-index: 99;
    width: 31vh;
    padding-left: 1.8vh;
    display: flex;
    align-items: center;
  }
  .hello{
    margin-left: 7vw;
  }
  #pages{
    height: 3.3vh;
    width: 6vh;
    transform: rotate(-5deg);
    background-color: rgba(0, 255, 42, 0.781);
  }
  #pages:hover{
    transform: scale(1.3);
  }
  i:hover{
    cursor: pointer;
  }
  /*FOOTER*/
  footer{
    height: 10vh;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 1.3vw;
    padding-bottom: 1vh;
  }
  footer>i{
    font-size: 5vh;
  }
}

@media screen and (max-width: 420px) {
  .pokemonsScreen{
    display: flex;
    flex-direction: column;
  }
  .pokemonsScreen-header{
    font-size: 10px;
    height: 5vh;
  }
  /*HEADER*/
  .header-title{
    height: 5vh;
    display: block;
  }
  .title-p{
    font-weight: 550;
    font-size: 3em;
    padding:0;
  }
  i{
    color: black;
  }
  /*MAIN*/
  .main{
    width: 95vw;
    height: 80vh;
  }
  .card-zone{
    overflow:scroll;
    height: 60vh;
    flex-direction: column;
    padding-right: 10vh;
    width: 100vw;
    padding-top: 2.5vh;
    background-color: rgba(236, 236, 236, 0.76);
  }
  .pages{
    height: 10vh;
    z-index: 99;
    width: 50vw;
    padding-left: 1.5vh;
    display: flex;
    align-items: flex-end;
  }
  #pages{
    height: 3.3vh;
    width: 6vh;
    transform: rotate(-5deg);
    background-color: rgba(89, 255, 117, 0.781);
  }
  #pages:hover{
    transform: scale(1.3);
  }
  i:hover{
    cursor: pointer;
  }
  /*FOOTER*/
  footer{
    height: 10vh;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 1.3vw;
    padding-bottom: 1vh;
  }
  footer>i{
    font-size: 5vh;
  }
}
