.list{
  display: none;
}

:root{
  --pading-top: 5.35714vh;
  --padding-left: 7.14285vw;
}

.loading{
  position: absolute;
  z-index: 7;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  transition: 1.3s ease-in-out;
}

.loading > img {
  width: 40vw;
  animation: spin 4s infinite linear;
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100%{
    transform: rotate(1080deg);
  }
}

.false{
  transition: 900ms ease-in-out;
  display: none;
}

/*Not temporary*/
.pokemonsScreen {
  transition: 2s ease-in-out;
  height: 100vh;
  animation: pokemons 1.2s ease-in-out;
}

@keyframes pokemons {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 100;
  }
}

.pokemonsScreen-header{
  width: 100vw;
  height: 21.4876vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
}

.header-arrow{
  width: 50vw;
  height: 10vh;
  display: flex;
  padding-top: var(--pading-top);
  padding-left: var(--padding-left);
  font-size: x-large;
}

.arrow-btn:hover{
  cursor: pointer;
}

.menu-btn-btn{
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  font-size: x-large;
}

.header-menu{
  height: 10vh;
  width: 100vw;
  justify-content: flex-end;
  display: flex;
  padding-right: var(--padding-left);
  font-size: x-large;
}

.menu-btn:hover{
  cursor: pointer;
}

.header-title{
  width: 100vw;
  height: 15vh;
  display: flex;
  align-items: flex-end;
  padding-left: var(--padding-left);
  padding-bottom: 9.4157vh;
}

.header-title-container{
  height: 2.47933vh;
  width: 90.35714vw;
  font-size: 1.2em;
  font-weight: 600;
}

.header-title-container > p{
  text-transform: capitalize;
  position: absolute;
}

.header-logo {
  height: 6vh;
}

.card-zone{
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  padding-left: var(--padding-left);
  column-gap: 3.21428vw;
  row-gap: 1.4876vh;
}

.pages{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1vh;
}


.pages>button{
  background: none;
  border: none;
  font-size: x-large;
  transition: 100ms ease-in-out;
  color: black;
}

.right{
  margin-right: 5.4vw;
}

.left{
  margin-left: 5.4vw;
}
 /**/
 