@media screen and (min-width:1080px) {
  .pkm-link{
    width: 25vh;
    height: 25vh;
    margin-top: 2vh;
  }
  .pokemon-card{
    box-shadow: rgba(0, 0, 0, 0.16) 0px .5px 4px;
    width: 29vh;
    height: 26.5vh;
    padding-top: 2.5vh;
    overflow: hidden;
    transition: 600ms;
    transform: rotate(-3deg);
  }
  .pkm-name{
    transform: rotate(3deg);
    font-weight:600;
    letter-spacing: 1px;
    display: flex;
    font-size: 1.85vw;
    justify-content: center;
    text-transform: capitalize;
  }
  .pkm-type-container{
    transform: rotate(3deg);
    display: flex;
    justify-content: center;
  }
  .pkm-type{
    background-color: #ffffff36;
    text-transform: capitalize;
    font-size: small;
    display: flex;
    width: 9vh;
    border-radius: 10px;
    justify-content: center;
  }
  .pkm-image-container{
    display: flex;
    justify-content: center;
  }
  .pkm-image{
    transform: rotate(3deg);
    position: absolute;
    z-index: 4;
    width: 15vh;
  }
  .back-image{
    margin-bottom:10vh;
    opacity: 60%;
    z-index: 1;
  }
  /*==Pseudo elements==*/
  .pokemon-card:hover{
    box-shadow:  rgba(0, 0, 0, 0.13) -2px 6px 4px;
    transform: translateX(-2px);
    transform: translateY(-1px);
    transition: 600ms;
  }
}

@media screen and (max-width:420px) {
  .pkm-link{
    width: 40vw;
    height: 22.5vh;
    margin-top: 2vh;
  }
  .pokemon-card{
    box-shadow: rgba(0, 0, 0, 0.16) 0px .5px 4px;
    width: 40vw;
    height: 22.5vh;
    padding-top: 2.5vh;
    overflow: hidden;
    transition: 600ms;
    transform: rotate(-3deg);
  }
  .pkm-name{
    transform: rotate(3deg);
    font-weight:600;
    letter-spacing: 1px;
    display: flex;
    font-size: small;
    justify-content: center;
    text-transform: capitalize;
  }
  .pkm-type-container{
    transform: rotate(3deg);
    display: flex;
    justify-content: center;
  }
  .pkm-type{
    background-color: #ffffff36;
    text-transform: capitalize;
    font-size: smaller;
    display: flex;
    width: 9vh;
    border-radius: 10px;
    justify-content: center;
  }
  .pkm-image-container{
    overflow: hidden;
    display: flex;
    justify-content: center;
  }
  .pkm-image{
    transform: rotate(3deg);
    position: absolute;
    z-index: 4;
    width: 15vh;
  }
  .back-image{
    margin-bottom:10vh;
    opacity: 60%;
    z-index: 1;
  }
  /*==Pseudo elements==*/
  .pokemon-card:hover{
    box-shadow:  rgba(0, 0, 0, 0.13) -2px 6px 4px;
    transform: translateX(-2px);
    transform: translateY(-1px);
    transition: 600ms;
  }
}